<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Partner Picker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <h1>The Great Partner Picker</h1>
      </div>
    </div>

    <div id="picker">

    </div>
  </div>
  <script src="/js/partnerPicker.js"></script>
</body>

</html>
